# odi womens all rounder

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

In [3]:
r =  requests.get(url)

In [4]:
soup = bs(r.text,'html.parser')

In [5]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

scraping the data after first person

In [6]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

In [7]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list})

In [8]:
df

,POS,PLAYER,TEAM,RATING
0,\n\n\n 1\n ...,Ellyse Perry,AUS,428
1,2,Natalie Sciver,ENG,368
2,3,Marizanne Kapp,SA,363
3,4,Hayley Matthews,WI,351
4,5,Amelia Kerr,NZ,335
5,6,Ashleigh Gardner,AUS,267
6,7,Deepti Sharma,IND,256
7,8,Jess Jonassen,AUS,246
8,9,Jhulan Goswami,IND,225
9,10,Stafanie Taylor,WI,221
10,11,Katherine Brunt,ENG,218
11,12,Sophie Devine,NZ,217
12,13,Sune Luus,SA,201
13,14,Dane van Niekerk,SA,198
14,15,Rumana Ahmed,BAN,188
15,16,Nida Dar,PAK,187
16,17,Sophie Ecclestone,ENG,179
17,18,Heather Knight,ENG,161
18,19,Tahlia McGrath,AUS,149
19,20,Kate Cross,ENG,148

In [9]:
df.head(10)

,POS,PLAYER,TEAM,RATING
0,\n\n\n 1\n ...,Ellyse Perry,AUS,428
1,2,Natalie Sciver,ENG,368
2,3,Marizanne Kapp,SA,363
3,4,Hayley Matthews,WI,351
4,5,Amelia Kerr,NZ,335
5,6,Ashleigh Gardner,AUS,267
6,7,Deepti Sharma,IND,256
7,8,Jess Jonassen,AUS,246
8,9,Jhulan Goswami,IND,225
9,10,Stafanie Taylor,WI,221