# odi batting rankings

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
r = requests.get(url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup = bs(r.text, 'html.parser')

In [3]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

In [9]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

In [10]:
df = pd.DataFrame({'POS' : pos_list,'PLAYER' : player_list,'TEAM' : team_list,'RATING' : rating_list})
df

,POS,PLAYER,TEAM,RATING
0,\n\n\n 1\n ...,Babar Azam,PAK,873
1,2,Virat Kohli,IND,811
2,3,Quinton de Kock,SA,796
3,4,Rohit Sharma,IND,791
4,5,Aaron Finch,AUS,779
...,...,...,...,...
95,96,Moeen Ali,ENG,404
96,97,Curtis Campher,IRE,403
97,98,Chris Woakes,ENG,403
98,99,Scott Edwards,NED,402
99,100,Max O'Dowd,NED,400

In [11]:
df.head(10)

,POS,PLAYER,TEAM,RATING
0,\n\n\n 1\n ...,Babar Azam,PAK,873
1,2,Virat Kohli,IND,811
2,3,Quinton de Kock,SA,796
3,4,Rohit Sharma,IND,791
4,5,Aaron Finch,AUS,779
5,6,Rassie van der Dussen,SA,776
6,7,Jonny Bairstow,ENG,775
7,8,David Warner,AUS,762
8,9,Fakhar Zaman,PAK,741
9,10,Joe Root,ENG,740